# To separate your traces from other application
LANGSMITH_PROJECT=

# Add API keys for connecting to LLM providers, data sources, and other integrations here
RETRIEVAL_PROVIDER=
LIGHTRAG_URL=
LIGHTRAG_API_KEY=

POSTGRES_URI=

LANGSMITH_API_KEY=

OPENAI_API_KEY=

MINERU_URL=