[submodule "firecrawl"]
	path = firecrawl
	url = https://github.com/mendableai/firecrawl.git

[submodule "LightRAG_UIT"]
	path = LightRAG_UIT
	url = https://github.com/Jajajou/LightRAG_UIT
[submodule "MinerU"]
	path = MinerU
	url = https://github.com/Jajajou/MinerU.git
[submodule "LightRAG"]
	path = LightRAG
	url = git@github.com:Jajajou/LightRAG.git
	branch = uit
